<div class="row">

    <div class="col-md-6">
    <%= image_tag @movie.movie_img.url(:movie_show), class: "movie-show"%>
    
</div>

<div>

<div class="row">

    <div class="col-md-10">

        <div>
            <%= link_to "Add Review", new_movie_review_path(@movie) %>
        </div>


    </div>
</div>



        
    <h1><%=  @movie.title %></h1>
    <p>Description:     <%=  @movie.description %>  </p>

    <div class="col-md-10">
    <%= link_to "Back", root_path %>
        <h5>Category:       <%= @movie.category.name %> </h5>
        <h6>Movie Length:   <%=  @movie.movie_length %> </h6>
        <h6>Director:       <%=  @movie.director %>     </h6>
        
    </div>
</div>



<% if user_signed_in? %>

    <% if @movie.user_id == current_user.id %>

            <%= link_to "Edit",  edit_movie_path(@movie) %>
            <%= link_to "Delete", movie_path(@movie), :method => :delete, :confirm => 'Are you sure you want to delete?' %>

    <% end %> 

<% end %>