<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
   
      <div class="col-md-6">
      
        <%= image_tag(@movie.cover_picture) if @movie.cover_picture.attached? %>
        
        

           <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                    
                    <h1><%=  @movie.title %></h1>
                 </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td>   <%= @rating%></td>
              </tr>

              <tr>
                <td><strong>Description:</strong></td>
                <td>   <%=  @movie.description %></td>
              </tr>
              
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= render @movie.reviews %></td>
              </tr>
            </tbody>
          </table>
             <div>
               <% if user_signed_in? %>
                 <% if @movie.user_id == current_user.id %>
                   <%= link_to "Edit",  edit_movie_path(@movie) %>
                   <%= link_to "Delete", movie_path(@movie),  method: :delete %>
                 <% end %>
               <% end %>
             </div>
             <div>
               <%= link_to "Add Review", new_movie_review_path(@movie) %>
               <%= link_to "Back", root_path %>
             </div>

           </div>
      </div>
    </div>
   </div>
 </div>

</div>




























