<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @suggestion.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<p>
  <strong>Movie img:</strong>
  <%# <%= link_to @suggestion.movie_img.filename, @suggestion.movie_img if @suggestion.movie_img.attached? %> %>
  <%= image_tag(@suggestion.cover_picture) if @suggestion.cover_picture.attached? %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @suggestion.comment %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
